<!DOCTYPE html>
<html >
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel">        
    </head>
    <body>                                    
         {% block content %}
            HOLA PRUEBA
         {% endblock %}           
    </body>
</html>
